/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow:0 0 20px rgba(255, 255, 255, 0.2);
}
.btn-primary {
    background-color: #3498db;
    color: #fff;
}

.btn-primary:hover {
    background-color: #2980b9;
}



h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

#fetchWeatherButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fetchWeatherButton:hover {
    background-color: #3498db;
}

.current-weather, .weather-forecast {
    margin-top: 20px;
    text-align: left;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

#digital-clock {
    font-size: 36px;
}

/* Media query for responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    #cityInput {
        font-size: 16px;
    }

    #fetchWeatherButton {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}
.clock-container {
    text-align: center;
}

#clock {
    font-size: 36px;
    margin-top: 10px;
}
